<form (submit)="handleStoreProveedor()">
  <div>
    <label for="name">Nombre</label>
    <br>
    <input name="name" type="text" [(ngModel)]="proveedor.name">
  </div>
  <div>
    <label for="address">Direccion</label>
    <br>
    <input name="address" type="text" [(ngModel)]="proveedor.address">
  </div>
  <div>
    <label for="nit">NIT</label>
    <br>
    <input name="nit" type="number" [(ngModel)]="proveedor.nit">
  </div>
  <div>
    <label for="phone">Celular</label>
    <br>
    <input name="phone" type="text" [(ngModel)]="proveedor.phone">
  </div>
  <div>
    <label for="status">Estado</label>
    <br>
    <select name="status" id="status" [(ngModel)]="proveedor.status">Estado
      <option value="enable">Activo</option>
      <option value="disable">Inactivo</option>
    </select>
  </div>
  <div>
    <br>
    <button type="submit">Crear Proveedor</button>
  </div>
</form>
